a
  text-decoration: none
  outline: none
  -webkit-font-smoothing: antialiased
  color: $blue
  border-bottom: 1px dotted $blue

.action
  display: inline-block
  margin-top: 2.5rem
  padding: 14px 16px 12px 12px
  border-radius: 4px
  border: 1px solid $pinky
  color: $pinky
  &:active,
  &:hover
    background: $pinky
    color: $bgc
    transform: translateY(1px)
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08)
    transition: all .25s ease
