.global-nav
  a
    border: none
  svg
    position: relative
    width: 100px
    @media all and (min-width: $bp-med)
      width: 200px

#home
  .global-nav
    svg
      #logo
        #bazarcreativo
          path
            fill: $white
        #lamp
          fill: $white

#catalog, #about, #blog
  .global-nav
    svg
      #logo
        #bazarcreativo
          path
            fill: $darktext
        #lamp
          fill: $darktext
