
// Typography
$font-style: normal
$font-variant: normal
$light: 300
$normal: 400
$bold: 700
$font-size: 1rem
$line-height: 1.5
$font-family: aller

//colors
$cyan: rgb(57, 217, 230)
$green: rgb(39, 184, 129)
$orange: rgb(213, 118, 39)
$yellow:  rgb(255, 180, 17)
$purple: rgb(183, 90, 232)
$red: rgb(213, 38, 38)
$text: rgb(49, 74, 110)
$black: rgb(0, 0, 0)
$white: rgb(255, 255, 255)
$bgc: rgb(244, 240, 228)
$darkbgc: rgb(238, 232, 217)
$bordo: rgb(213, 39, 90)
$blue: rgb(39, 113, 213)
$pinky: rgb(255, 34, 69)
$turk: rgb(36, 171, 173)
$darkblue: rgb(50, 74, 110)
$darktext: rgb(18, 43, 77)


//media queries
$bp-small : 24em
$bp-small-2 : 29.75em
$bp-small-3 : 39.8em
$bp-med : 46.8em
$bp-med-2 : 48em
$bp-large : 50em
$bp-large-2 : 54.5em
$bp-xl : 60em
$bp-xl-2 : 67em
