@lost gutter 60px

// Typography
$font-style: normal
$font-variant: normal
$font-weight: normal
$font-size: 1rem
$line-height: 1.5
$font-family: crimson

//colors
$cyan: rgb(57, 217, 230)
$green: rgb(151, 228, 94)
$orange: rgb(255, 190, 59)
$yellow:  rgb(255, 251, 62)
$purple: rgb(183, 90, 232)
$red: rgb(255, 90, 87)
$text: rgb(20, 20, 20)

//media queries
$bp-small : 24em
$bp-small-2 : 29.75em
$bp-small-3 : 39.8em
$bp-med : 46.8em
$bp-med-2 : 48em
$bp-large : 50em
$bp-large-2 : 54.5em
$bp-xl : 60em
$bp-xl-2 : 67em
