.catalog, .catalog-section, .catalog-brand, .product-detail
  lost-center: 980px
  flex-wrap: wrap
  margin-top: 15rem
  .inner-block
    position: relative
    width: 100%
    height: 50vh
    img
      position: absolute
      width: 100%
      height: 50vh
      object-fit: cover
      +object-fit(cover)
    .block-box
      position: absolute
      right: 10%
      bottom: 10%
      width: 60%
      height: auto
      padding: 1rem
      color: $bgc
      .title
        margin-bottom: 1rem
        font-size: responsive .8rem 2rem
        font-weight: $bold
        line-height: 1
      .btn-box
        position: absolute
        right: -3%
        bottom: -8%
        padding: .25rem .7rem
        box-shadow: -4px -4px 20px rgba($black, .2)
      a
        border: none
  .one-block, .two-block
    display: flex
  .one-block
    lost-column: 4/12 0 0
  .two-block
    lost-column: 8/12 0 0
  .ropa
    .block-box, .section-box
      background-color: $green
      .btn-box
        background-color: darken($green, 15%)
  .artesania
    .block-box, .section-box
      background-color: $yellow
      .btn-box
        background-color: darken($yellow, 15%)
  .arte
    .block-box, .section-box
      background-color: $red
      .btn-box
        background-color: darken($red, 15%)
  .comida
    .block-box, .section-box
      background-color: $purple
      .btn-box
        background-color: darken($purple, 15%)
  .maquillaje
    .block-box, .section-box
      background-color: $pinky
      .btn-box
        background-color: darken($pinky, 15%)
  .decoracion
    .block-box, .section-box
      background-color: $turk
      .btn-box
        background-color: darken($turk, 15%)
  .varios
    .block-box, .section-box
      background-color: $bordo
      .btn-box
        background-color: darken($bordo, 15%)

.catalog-section, .brand-info
  h1
    display: block
    margin-bottom: 2rem
    padding-bottom: 1rem
    border-bottom: 1px solid darken($bgc, 15%)
    color: $darkblue

.sections-menu
  lost-column: 2/12
  ul
    li
      position: relative
      text-align: right
      margin-bottom: 1rem
      .current-sec
        font-weight: $normal
        pointer-events: none
        cursor: default
        color: $darkblue
        &::after
          content: ''
          position: absolute
          right: 0
          display: block
          margin: auto
          height: 2px
          width: 0px
          margin-top: 5px
          width: 100%
          background: $darkblue
      a
        position: relative
        font-size: responsive .7rem .9rem
        font-weight: $light
        border: none
        color: $darkblue
        &::after
          content: ''
          position: absolute
          right: 0
          display: block
          margin: auto
          height: 2px
          width: 0px
          margin-top: 5px
          background: transparent
          transition: width .5s ease, background-color .5s ease
        &:hover::after
          width: 100%
          background: $darkblue
        // &.current
        //   &::after
        //     display: block
        //     width: 100%
        //     height: 1px
        //     margin-top: 10px

.sections-list
  lost-column: 10/12

.section-block
  lost-column: 1/2
  position: relative
  margin-bottom: 30px
  .section-box
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    padding: 1rem
    text-transform: uppercase
    text-align: center
    color: $bgc

.brand-info
  lost-column: 4/12
  h1
    border-bottom: none
    span
      display: block
      margin-top: .5rem
      font-size: responsive .8rem 1rem
      a
        color: $darkblue
        border-bottom: 2px solid $darkblue

.brand-list
  lost-column: 8/12
  .brand-block
    lost-column: 1/2
    margin-bottom: 30px
    .inner-block
      .brand-box
        position: absolute
        right: 3%
        bottom: 3%
        padding: .5rem 1rem
        background: lighten($turk, 5%)
      a
        border: none
        color: $bgc
      img
        margin-bottom: 1rem

.product-block
  lost-column: 8/12

.product-info
  lost-column: 4/12
  h1
    color: $darkblue
  .breadcrumb
    display: flex
    li
      margin-right: .5rem
      &::after
        content: '>'
        margin-left: .5rem
        color: $darkblue
      &:last-child
        border-bottom: 2px solid $darkblue
        &::after
          content: ''
          display: none
      a
        color: $darkblue
        border: none
  .product-price
    display: block
    margin-top: 1rem
    padding-top: 1rem
    border-top: 1px solid darken($bgc, 15%)
    color: $darkblue
    font-weight: $bold
    font-size: responsive 1rem 1.5rem
  .share-product
    margin-top: 1rem
    span
      display: inline-block
      float: left
      margin-right: 1rem
      padding-top: .35rem
      text-transform: uppercase
      font-size: responsive .6rem .8em
      color: $darkblue
    a
      border: none
    svg
      width: 28px
      fill: darken($bgc, 25%)
      transition: all .5s ease
      &:hover
        fill: $turk
    ul
      display: flex
      li
        margin-right: .5rem
