#home
  .hero-content
    position: relative
    height: 60vh
    background: $red
    @media all and (min-width: $bp-med)
      height: 90vh
    #hero-curve
      z-index: 0
      position: absolute
      bottom: -5vh
      width: 100%
      height: 5vh
      background: transparent
      @media all and (min-width: $bp-med)
        height: -10vh
    .intro
      lost-center: 960px
      position: relative
      .text-intro
        z-index: 300
        position: absolute
        top: 25vh
        left: 1.5rem
        font-size: responsive 1.5rem 4.3rem
        line-height: 1
        width: 65%
        color: $yellow
        @media all and (min-width: $bp-med)
          top: 30vh
          left: 0
          width: 60%
      .image-intro
        z-index: 150
        position: absolute
        top: 13rem
        right: 1.5rem
        @media all and (min-width: $bp-med)
          top: 22rem
          right: 0
          // width: 45vw
          // height: 60vh
        img
          overflow: hidden
          width: 60vw
          height: 35vh
          object-fit: cover
          +object-fit(cover)
          box-shadow: 0 7px 42px rgba($black, .2)
          @media all and (min-width: $bp-med)
            width: 50vw
            height: 60vh
.events
  lost-center: 720px
  margin-top: 8rem
  padding: .8rem 2rem 1rem
  border: 1px solid darken($darkbgc, 5%)
  border-width: 1px 0
  text-align: center
  @media all and (min-width: $bp-med)
    margin-top: 13rem
    padding: .8rem 0 2rem
  p
    font-size: responsive .8rem 1.2rem
  h2
    color: $bordo

.motive
  .motive-images
    position: relative
    order: 2
    margin-top: 2rem
    @media all and (min-width: $bp-med)
      lost-column: 8/12
      order: inherit
      margin: 0
  .img-bot
    opacity: .85
    @media all and (min-width: $bp-med)
      margin-left: 4rem
    img
      overflow: hidden
      width: 25rem
      height: 15rem
      object-fit: cover
      +object-fit(cover)
      @media all and (min-width: $bp-med)
        width: 35rem
        height: 25rem
  .img-top
    z-index: 100
    position: absolute
    top: 10rem
    right: 0
    opacity: .9
    @media all and (min-width: $bp-med)
      top: 15rem
      left: 0
      margin: 0
    img
      overflow: hidden
      width: 12rem
      height: 16rem
      box-shadow: 0 7px 42px rgba($black, .2)
      object-fit: cover
      object-position: 75% 50%
      +object-fit(cover, 75% 50%)
      @media all and (min-width: $bp-med)
        width: 20rem
        height: 30rem

.motive-content
  order: 1
  text-align: right
  @media all and (min-width: $bp-med)
    lost-column: 4/12
    order: inherit
  h2
    text-align: left
    color: $blue
    @media all and (min-width: $bp-med)
      padding-left: 3rem
      text-align: right

.latest-blog
  margin-top: 10rem
  @media all and (min-width: $bp-med)
    margin-top: 13rem
  .blog-image
    order: 2
    @media all and (min-width: $bp-med)
      lost-column: 4/12
    img
      margin-top: 1rem
      opacity: .85
      box-shadow: 0 7px 42px rgba($black, .2)
      @media all and (min-width: $bp-med)
        margin-top: -2rem

.latest-entries
  order: 1
  @media all and (min-width: $bp-med)
    lost-column: 8/12
  h2
    color: $green
    @media all and (min-width: $bp-med)
      padding-right: 30%
  ul
    margin-top: 1.5rem
    @media all and (min-width: $bp-med)
      margin: 0
    li
      display: flex
      flex-flow: row wrap
      align-content: center
      justify-content: space-between
      padding: .3rem .5rem
      line-height: 1.5
      border-bottom: 1px solid darken($darkbgc, 5%)
      @media all and (min-width: $bp-med)
        flex-flow: inherit
        justify-content: inherit
        padding: .7rem 1rem
        line-height: 2
      &:first-child
        border-top: 1px solid darken($darkbgc, 5%)

      .date-blog
        margin-right: 0
        text-align: left
        text-transform: uppercase
        font-size: responsive .6rem .8rem
        color: darken($bgc, 40%)
        order: 1
        flex-basis: auto
        @media all and (min-width: $bp-med)
          order: inherit
          margin-right: 1rem
          text-align: center
          line-height: 1.2
        span
          display: inline-block
          @media all and (min-width: $bp-med)
            display: block

    .tag-blog
      margin-left: .4rem
      color: darken($bgc, 25%)
      text-transform: uppercase
      font-size: responsive .6rem .75rem
      order: 2
      flex-grow: 1
      flex-basis: auto
      @media all and (min-width: $bp-med)
        order: inherit
        flex-grow: inherit
        flex-basis: inherit
        line-height: 3

    a
      font-size: responsive .9rem 1.1rem
      color: $text
      border: none
      order: 3
      width: 100%
      @media all and (min-width: $bp-med)
        order: inherit
        width: auto

.enter-catalog
  .enter-catalog-images
    position: relative
    order: 2
    width: 100%
    margin-top: 2rem
    @media all and (min-width: $bp-med)
      lost-column: 8/12
      order: inherit
      margin: 0

  .img-bot
    opacity: .85
    @media all and (min-width: $bp-med)
      margin: 0
    img
      width: 12rem
      height: 9rem
      object-fit: cover
      +object-fit(cover)
      @media all and (min-width: $bp-med)
        width: 30rem
        height: 25rem

  .img-top
    z-index: 100
    position: absolute
    top: 7rem
    right: 0
    opacity: .85
    @media all and (min-width: $bp-med)
      top: 15rem
      margin-left: 12rem
    img
      width: 13rem
      height: 9rem
      box-shadow: 0 7px 42px rgba($black, .2)
      object-fit: cover
      object-position: 75% 50%
      +object-fit(cover, 75% 50%)
      @media all and (min-width: $bp-med)
        width: 45rem
        height: 25rem

  .enter-catalog-content
    text-align: right
    order: 1
    @media all and (min-width: $bp-med)
      lost-column: 4/12
      order: inherit
    h2
      text-align: left
      color: $orange
      @media all and (min-width: $bp-med)
        text-align: inherit
