.global-nav
  lost-center: 100%
  // lost-utility: edit
  @media all and (min-width: $bp-med)
    display: flex
    align-items: center
  .brand
    @media all and (min-width: $bp-med)
      lost-column: 3/12 0
  nav
    @media all and (min-width: $bp-med)
      lost-column: 9/12 1
  ul
    @media all and (min-width: $bp-med)
      display: flex
      justify-content: flex-end
      margin: 0
      padding: 0
  @media all and (min-width: $bp-med)
    li
      position: relative
      margin-left: 60px
      &::before
        content: ''
        position: absolute
        top: 35%
        left: 100%
        width: 20px
        height: 1px
        margin-left: 20px
      &:last-child::before
        content: ''
        display: none
      a
        position: relative
        font-size: responsive .9rem 1.1rem
        font-weight: $light
        text-transform: uppercase
        &::after
          content: ''
          display: block
          margin: auto
          height: 1px
          width: 0px
          margin-top: 10px
          background: transparent
          transition: width .5s ease, background-color .5s ease
        &:hover::after
          width: 100%
        &.current
          &::after
            display: block
            width: 100%
            height: 1px
            margin-top: 10px

#home
  .global-nav
      ul
        li
          &::before
            background: $yellow
          a
            color: $bgc
            &:hover::after
              background: $bgc
            &.current
              &::after
                background: $bgc

#catalog, #about, #blog
  .global-nav
      ul
        li
          &::before
            background: $blue
          a
            color: $darktext
            &:hover::after
              background: $darktext
            &.current
              &::after
                background: $darktext

#home, #catalog, #about, #blog
  nav
    width: 100%
    ul
      overflow: hidden
      flex-direction: column
      height: 0
      opacity: 0
      transition: opacity 0.4s ease
      text-align: center
      padding-top: 2rem
      @media all and (min-width: $bp-med)
        flex-direction: inherit
        overflow: inherit
        padding: 0
        opacity: inherit
      &.toggle
        position: fixed
        top: 0
        left: 0
        right: 0
        display: flex
        width: 100vw
        height: 100vh
        opacity: 1
        padding-top: 50%
        li
          padding: 1rem
          text-transform: uppercase
          font-weight: $bold

#home,
  .toggle
    background: rgba($red, .8)
    a
      color: $bgc
    .current
      padding-bottom: 5px
      border-bottom: 1px solid $bgc

#catalog, #about, #blog
  .toggle
    background: rgba($darkbgc, .8)
    a
      color: $darktext
    .current
      padding-bottom: 5px
      border-bottom: 1px solid $darktext
  .handle
    svg
      fill: $darktext
      .mid
        stroke: $darktext

.handle
  position: absolute
  top: 2.5rem
  right: 1rem
  width: 35px
  cursor: pointer
  svg
    width: 30px
    fill: $bgc
  @media all and (min-width: $bp-med)
    display: none
