.nosotros
  lost-center: 1440px
  padding: 0 3rem
  margin-top: 8rem
  @media all and (min-width: $bp-med)
    margin-top: 15rem
  // lost-utility: edit
  .nosotros-block-left, .nosotros-block-right
    lost-utility: clearfix
    h1
      color: $blue
    .left, .right
      position: relative

  .nosotros-block-left
    .left
      margin-bottom: 2rem
      @media all and (min-width: $bp-med)
        lost-column: 4/12
        margin-bottom: 0
    .right
      @media all and (min-width: $bp-med)
        lost-column: 8/12
      .img-bot
        position: absolute
        right: 0
        opacity: .85
        img
          overflow: hidden
          width: 12rem
          height: 10rem
          object-fit: cover
          +object-fit(cover)
          @media all and (min-width: $bp-med)
            width: 40rem
            height: 25rem
      .img-top
        z-index: 100
        position: absolute
        top: 7rem
        left: 0
        opacity: .9
        @media all and (min-width: $bp-med)
          top: 15rem
          right: 0
        img
          overflow: hidden
          width: 10rem
          height: 12rem
          box-shadow: 0 7px 42px rgba($black, .2)
          object-fit: cover
          object-position: 75% 50%
          +object-fit(cover, 75% 50%)
          @media all and (min-width: $bp-med)
            width: 25rem
            height: 30rem

  .nosotros-block-right
    display: flex
    flex-flow: row wrap
    margin-top: 21rem
    @media all and (min-width: $bp-med)
      flex-flow: inherit
      margin-top: 13rem
    .left
      position: relative
      order: 2
      display: block
      width: 100%
      @media all and (min-width: $bp-med)
        lost-column: 8/12
        order: inherit
      .img-bot
        margin-top: 2rem
        opacity: .85
        @media all and (min-width: $bp-med)
          margin-top: 10rem
        img
          overflow: hidden
          width: 13rem
          height: 10rem
          object-fit: cover
          +object-fit(cover)
          @media all and (min-width: $bp-med)
            width: 35rem
            height: 25rem
      .img-top
        z-index: 0
        position: absolute
        top: 8rem
        right: 0
        opacity: .9
        @media all and (min-width: $bp-med)
          top: 25rem
        img
          overflow: hidden
          width: 12rem
          height: 10rem
          box-shadow: 0 7px 42px rgba($black, .2)
          object-fit: cover
          object-position: 75% 50%
          +object-fit(cover, 75% 50%)
          @media all and (min-width: $bp-med)
            width: 35rem
            height: 25rem
    .right
      order: 1
      display: block
      width: 100%
      @media all and (min-width: $bp-med)
        lost-column: 4/12
        order: inherit
        padding-top: 10rem
